@inject SegredoDaCozinha.Services.IUsuarioService userService
@{
    var usuario = await userService.GetUsuarioLogado();
}
<div class="profile-section">
    @if (usuario == null)
    {
        <a asp-action="Login" asp-controller="Account" style="text-decoration: none;">
            <div class="profile-preview">
                <img class="avatar-img" src="~/img/usuarios/no-photo.png" alt="Avatar do Usuário" />
                <div class="user-info">
                    <div class="user-name">Visitante</div>
                    <div class="user-role"><i class="fas fa-user"></i> não logado</div>
                </div>
            </div>
        </a>
    }
    else
    {
        <!-- Menu suspenso -->
        <div class="profile-preview">
            <img class="avatar-img" src="@(usuario.Foto ?? Url.Content("~/img/usuarios/no-photo.png"))"
                 alt="Avatar do Usuário" />
            <div class="user-info">
                <div class="user-name">@usuario.Nome</div>
                <div class="user-role"><i class="fas fa-user"></i> @usuario.Perfil</div>
            </div>
        </div>
        <div class="dropdown-menu">
            <div class="dropdown-item"><i class="fas fa-user"></i> Meu perfil</div>
            <div class="dropdown-item"><i class="fas fa-sliders-h"></i> Configurações</div>
            <form asp-action="Logout" asp-controller="Account" method="post" id="logoutForm">
                @Html.AntiForgeryToken()
                <button type="submit" class="dropdown-item" style="all:unset; width: 100%; padding: 0.9rem 1.4rem;">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </button>
            </form>

        </div>
    }
</div>